@import 'fily-publish-gridstack/dist/gridstack.min.css';

:root {
  --gridstack-widget-width: 64;
  --gridstack-column-count: 12;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter
  scrollbar-gutter: stable;
}

.grid-stack-placeholder > .placeholder-content {
  background-color: rgb(248, 249, 250) !important;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .grid-stack-placeholder > .placeholder-content {
    background-color: rgba(255, 255, 255, 0.05) !important;
  }
}

// Styling for grid-stack main area
@for $i from 1 to 96 {
  .grid-stack > .grid-stack-item[gs-w="#{$i}"] {
    width: calc(100% / #{var(--gridstack-column-count)} * #{$i})
  }
  .grid-stack > .grid-stack-item[gs-min-w="#{$i}"] {
    min-width: calc(100% / #{var(--gridstack-column-count)} * #{$i})
  }
  .grid-stack > .grid-stack-item[gs-max-w="#{$i}"] {
    max-width: calc(100% / #{var(--gridstack-column-count)} * #{$i})
  }
}

@for $i from 1 to 96 {
  .grid-stack > .grid-stack-item[gs-h="#{$i}"] {
    height: calc(#{$i}px * #{var(--gridstack-widget-width)})
  }
  .grid-stack > .grid-stack-item[gs-min-h="#{$i}"] {
    min-height: calc(#{$i}px * #{var(--gridstack-widget-width)})
  }
  .grid-stack > .grid-stack-item[gs-max-h="#{$i}"] {
    max-height: calc(#{$i}px * #{var(--gridstack-widget-width)})
  }
}

@for $i from 1 to 96 {
  .grid-stack > .grid-stack-item[gs-x="#{$i}"] {
    left: calc(100% / #{var(--gridstack-column-count)} * #{$i})
  }
}


@for $i from 1 to 96 {
  .grid-stack > .grid-stack-item[gs-y="#{$i}"] {
    top: calc(#{$i}px * #{var(--gridstack-widget-width)})
  }
}

.grid-stack > .grid-stack-item {
  min-width: #{var(--gridstack-widget-width)};
}

// Styling for sidebar grid-stack elements
@for $i from 1 to 96 {
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-w="#{$i}"] {
    width: 128px * $i
  }
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-min-w="#{$i}"] {
    min-width: 128px * $i
  }
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-max-w="#{$i}"] {
    max-width: 128px * $i
  }
}

@for $i from 1 to 96 {
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-h="#{$i}"] {
    height: 128px * $i
  }
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-min-h="#{$i}"] {
    min-height: 128px * $i
  }
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-max-h="#{$i}"] {
    max-height: 128px * $i
  }
}

@for $i from 1 to 3 {
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-x="#{$i}"] {
    left: 128px * $i
  }
}


@for $i from 1 to 96 {
  .grid-stack.grid-stack-sidebar > .grid-stack-item[gs-y="#{$i}"] {
    top: 128px * $i
  }
}

.grid-stack.grid-stack-sidebar > .grid-stack-item {
  min-width: 128px;
}

// General gridstack styling
.grid-stack > .grid-stack-item > .grid-stack-item-content,
.grid-stack > .grid-stack-item > .placeholder-content {
  inset: 10px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  bottom: 10px;
  right: 10px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow-y: auto;
}

.grid-stack.grid-stack-animate {
  transition: none;
}

.gridstack-empty-wrapper {
  height: 0px;
  min-height: 0px !important;
}

.scroll-area-w100 .mantine-ScrollArea-viewport > div:nth-of-type(1) {
  width: 100%;
  display: inherit !important;
}

// .polka {
//   background-image: radial-gradient(
//                   color-mix(in srgb, var(--mantine-color-red-6) 20%, transparent) 6px,
//                   transparent 6px
//   );
//   background-size: 60px 60px;
// }

// .polka {
//   background-image: radial-gradient(
//                   color-mix(in srgb, #366a6c 20%, transparent) 6px,
//                   transparent 6px
//   );
//   background-size: 60px 60px;
// }

.mantine-Modal-title {
  font-size: 1.375rem;
  font-weight: 700;
}

.tiptap {
  hr {
    border-top-style: double;
  }

  ul[data-type="taskList"] {
    padding-left: 17px;

    li {
      list-style-type: none;
      display: flex;
      gap: 8px;
    }
  }

  img {
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid rgba(0, 65, 198, 0.8);
    }
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td {
      border-color: var(--mantine-color-gray-5) !important;
      border-width: 1px !important;
      border-style: solid !important;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    .selectedCell:after {
      background: rgba(200, 200, 200, 0.4);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    p {
      margin: 0;
    }
  }

  &[contenteditable="true"].resize-cursor {
    cursor: ew-resize;
  }

  &[contenteditable="false"].resize-cursor {
    pointer-events: none;
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.open-api-container[data-color-scheme="dark"] .swagger-ui {
  select {
    background-color: #25262b;
    color: #82858e;
  }

  .scheme-container {
    background-color: #1a1b1e !important;
  }

  .opblock-tag,
  .info .title {
    color: #bfc5d5;
  }

  .servers-title,
  .opblock .opblock-summary-operation-id,
  .opblock .opblock-summary-path,
  .opblock .opblock-summary-path__deprecated,
  .info li, .info p, .info table {
    color: #82858e;
  }

  .expand-methods svg,
  .expand-operation svg,
  .opblock-control-arrow svg {
    fill: #8c8c8c;
  }

  .opblock-summary-description {
    color: white;
  }
}

.process-screen{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: linear-gradient(145deg, #366a6c 0%, #366a6cd9 100%);
    height: 9.375rem;
    min-height: 9.375rem;
}

.red > div > div {
  border-color: #366a6c !important;
}

.header-logo-color {
  background-image: linear-gradient(145deg, #ffffff 0%, rgb(255 255 255 / 85%) 100%);
}

.dark-button {
  background-color: #366a6c14!important;
}

.dark-button:hover {
  background-color: #366a6c;
}

.mantine-Button-inner {
  color: #366a6c;
}

.mantine-ak57np{
  color: #366a6c;
  background-color: #366a6c14!important;
}

.mantine-11nlb1v{
  color: #366a6c;
  border-color: #366a6c;
  background-color: #ffffff;

}

.mantine-11nlb1v:hover{
  color: #366a6c;
  border-color: #366a6c;
  background-color: #ffffff;

}

.mantine-13gjpq7{
  color: #366a6c;
  background-color: #366a6c14!important;
}

button.mantine-UnstyledButton-root.mantine-Button-root.mantine-x000qm {
  background-color: #366a6c0d;
}

.manage-board-logo img {
  object-fit: contain !important;
}

.mantine-1dpd2q4 {
  position: absolute;
  bottom: -75px!important;
  right: 0rem;
}

.mantine-1m7tzm2 {
  border-radius: 0.5rem;
  background-color: #366a6c14!important;
  margin-bottom: 3.125rem;
  padding: 1.5rem;
  width: 100%;
  min-height: 9.375rem;
}

h2.mantine-Text-root {
  color: #366a6c;
}

.mantine-43r9dj[data-active] {
  background-color: #366a6c14!important;
  color: #366a6c!important;
}

.mantine-1tvzh53 {
  background-color: rgba(255, 245, 245, 1);
  color: #392d2d!important;
  border: 0.0625rem solid transparent;
}

.mantine-1tvzh53 {
  background-color: #366a6c14!important;
  color: #392d2d !important;
  border: 0.0625rem solid transparent;
}

.mantine-xawc6j {
  background-color: #ffffff!important;
  color: #366a6c!important;
  border: 0.0625rem solid transparent;
}

.mantine-1l6s0jn {
  background-color: #366a6c14!important;
  color: #366a6c!important;
  
}

input:checked+.mantine-5d6a5m {
  background-color: #366a6c;
  border-color: #366a6c;
  color: #fff;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.mantine-1ig0nzr {
  background-color: #366a6c14!important;
  border-color: #366a6c!important;
  color: #fff!important;
}

.mantine-kh2jd1:hover {
  background-color: #366a6c14!important;
}

.mantine-kh2jd1 {
  background-color: #366a6c14!important;
}

.mantine-9071k9 {
  background-color: #ffffff;
  color: #366a6c !important;
  border-color: #ffffff;
}

.mantine-zvuou4[data-hovered] {
  background-color: #366a6c14!important;
}

.mantine-zvuou4 {
  color: #366a6c!important;
}

.mantine-bhbafl[data-active]:not([data-disabled]):hover {
  background-color: #366a6c!important;
}

.mantine-bhbafl[data-active] {
  border-color: transparent;
  color: #fff;
  background-color: #366a6c!important;
}

.mantine-dz3jxt[data-active] {
  background-color: #366a6c14!important;
  color: #366a6c!important;
}

.mantine-aly1xb {
  color: #366a6c!important;
}

header.mantine-Header-root {
  background: linear-gradient(145deg, #366a6c 0%, rgba(54, 106, 108, 0.8509803922) 100%);
  height: 9.375rem;
}

.dashboard-header-logo-image img {
  background-color: #f1f3f5;
  padding: 5px;
  border-radius: 50%;
  height: 45px!important;
  width: 45px!important;
}

.mantine-uf0vuz {
  margin-top: 8px;
}

input:checked+.mantine-btj19t {
  background-color: #366a6c;
  border-color: #366a6c;
  color: #fff;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

iframe.iframe-box {
  width: 100%;
  border: none;
  height: 100vh;
}


.mantine-d9zk78 {
  max-width: 100rem;
}

.mantine-kh2jd1 {
  background-color: #ffffff !important;
}

.mantine-kh2jd1:hover {
  background-color: #ffffff !important;
}
